{% extends 'base.html' %}

{% block content %}
    <h1>Payment Detail</h1>
    <p>Order ID: {{ payment_order.id }}</p>
    <p>Status: {{ payment_order.status }}</p>
    <p>Amount: {{ payment_order.amount }} {{ payment_order.currency }}</p>
    <p>Payment Address: {{ payment_order.payment_address }}</p>
    {% if payment_order.qr_code %}
        <p>QR Code: <img src="{{ payment_order.qr_code }}" alt="QR Code"></p>
    {% endif %}
    <a href="/cryptopayments/start_payment/">Start another payment</a>
{% endblock %}